* {
    font-family: 'DotGothic16', sans-serif;
}

nav {
    position: sticky;
    float: right;
    top: 0;
    font-size: 1.5em;
}

.navLinks {
    text-decoration: none;
}

.navLinks:link {
    color: black;
}

.navLinks:visited {
    color: black;
}

.navLinks:hover {
    color: rgb(138, 138, 138);
}